<h2> Main View: {{ status }} </h2>

<div class="notification-bar">
	<div class="notification error">
		<p class="message">test</p>
	</div>
</div>

<article class="widget ui-draggable loaded" style="top: 60px; left: 0px; width: auto; z-index: 5;">
	<div class="widget-inner widget-size-1x1">

	<section class="widget-body no-title">
	<div class="widget-canvas">

	<time class="t-size-x60" ng-bind="time.time"></time>

	<time class="t-secondary t-size-x24">
	<span ng-bind="time.day"></span>
	<span ng-bind="time.date"></span>
	</time>
	</div><!-- .widget-canvas -->
	</section>

	  <footer>
	    <div class="inner">
	      <span>Часы</span>
	    </div>
	  </footer>

	</div><!-- .widget-inner -->
</article>



<article ng-repeat="board in boards" class="widget" style="top: 300px; left: {{board.left}}; width: auto; z-index: 4;">
    <div class="widget-inner widget-size-{{ board.size }}">
        <header><h1>{{ board.header }}</h1></header>
        <a class="led success" href="#"></a>
        <section class="widget-body">
            <div class="widget-canvas">
            	<img src="{{board.img}}" ng-show="board.img">
                <div class="main-stat t-size-x60">
                    {{ board.main_stat }}
                </div>
                <div class="t-secondary t-size-x24">
                    {{ board.value_1 }}
                </div>
                <div class="t-secondary t-size-x44">
                    {{ board.value_2 }}
                </div>
            </div>
        </section>

        <footer>
        	<div class="inner">
	            <span>  {{ board.footer_title }}  </span>

	            <ul class="widget-actions">
	                <li><a class="edit" href="#" title="Edit"></a></li>
	                <li><a class="copy" href="#" title="Copy"></a></li>
	                <li><a class="delete" href="#" title="Delete"></a></li>
	            </ul>
        	</div>
    	</footer>
    </div>
</article>