<h2> Main View: {{ status }} </h2>

<div class="notification-bar">
	<div class="notification error">
		<p class="message">test</p>
	</div>
</div>

<article class="widget ui-draggable loaded" style="top: 60px; left: 0px; width: auto; z-index: 5;">
	<div class="widget-inner widget-size-1x1">

	<section class="widget-body no-title">
	<div class="widget-canvas">

	<time class="t-size-x60" ng-bind="time.time"></time>

	<time class="t-secondary t-size-x24">
	<span ng-bind="time.day"></span>
	<span ng-bind="time.date"></span>
	</time>
	</div><!-- .widget-canvas -->
	</section>

	  <footer>
	    <div class="inner">
	      <span>Часы</span>
	    </div>
	  </footer>

	</div><!-- .widget-inner -->
</article>



<article ng-repeat="board in boards" class="widget" style="top: 300px; left: {{board.left}}; width: auto; z-index: 4;">
    <div class="widget-inner widget-size-{{ board.size }}">
        <header><h1>{{ board.header }}</h1></header>
        <a class="led success" href="#"></a>
        <section class="widget-body">
            <div class="widget-canvas">
            	<img src="{{board.img}}" ng-show="board.img">
                <div class="main-stat t-size-x60">
                    {{ board.main_stat }}
                </div>
                <div class="t-secondary t-size-x24">
                    {{ board.value_1 }}
                </div>
                <div class="t-secondary t-size-x44">
                    {{ board.value_2 }}
                </div>
            </div>
        </section>

        <footer>
        	<div class="inner">
	            <span>  {{ board.footer_title }}  </span>

	            <ul class="widget-actions">
	                <li><a class="edit" href="#" title="Edit"></a></li>
	                <li><a class="copy" href="#" title="Copy"></a></li>
	                <li><a class="delete" href="#" title="Delete"></a></li>
	            </ul>
        	</div>
    	</footer>
    </div>
</article>

<img src="http://learn.javascript.ru/files/tutorial/browser/events/ball.gif" style="cursor: pointer; position: absolute; left: 412px; top: 200px; z-index: 1000;" width="50" height="50" id="ball3">

<script type="text/javascript">
var ball = document.getElementById('ball3');


function fixEvent(e) {
  e = e || window.event;

  if (!e.target) e.target = e.srcElement;

  if (e.pageX == null && e.clientX != null ) { // если нет pageX..
    var html = document.documentElement;
    var body = document.body;

    e.pageX = e.clientX + (html.scrollLeft || body && body.scrollLeft || 0);
    e.pageX -= html.clientLeft || 0;

    e.pageY = e.clientY + (html.scrollTop || body && body.scrollTop || 0);
    e.pageY -= html.clientTop || 0;
  }

  if (!e.which && e.button) {
    e.which = e.button & 1 ? 1 : ( e.button & 2 ? 3 : ( e.button & 4 ? 2 : 0 ) )
  }

  return e;
}


function getCoords(elem) {
    var box = elem.getBoundingClientRect();

    var body = document.body;
    var docElem = document.documentElement;

    var scrollTop = window.pageYOffset || docElem.scrollTop || body.scrollTop;
    var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft;

    var clientTop = docElem.clientTop || body.clientTop || 0;
    var clientLeft = docElem.clientLeft || body.clientLeft || 0;

    var top  = box.top +  scrollTop - clientTop;
    var left = box.left + scrollLeft - clientLeft;

    return { top: Math.round(top), left: Math.round(left) };
}



ball.onmousedown = function(e) {
  var self = this;
  e = fixEvent(e);

  var coords = getCoords(this);

  var shiftX = e.pageX - coords.left;
  var shiftY = e.pageY - coords.top;


  this.style.position = 'absolute';
  document.body.appendChild(this);
  moveAt(e);

  this.style.zIndex = 1000; // над другими элементами

  function moveAt(e) {
    self.style.left = e.pageX - shiftX + 'px';
    self.style.top = e.pageY - shiftY+ 'px';
  }

  document.onmousemove = function(e) {
    e = fixEvent(e);
    moveAt(e); 
  };

  this.onmouseup = function() {
    document.onmousemove = self.onmouseup = null;
  };

}

	ball.ondragstart = function() { 
	  return false; 
	};

</script>