html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,blockquote {
    quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

.icons-sprite,.btn.back:before,.btn.add:before,.action.delete:after,.action.delete:hover:after,.action.add:after,.action.add:hover:after,.action.edit:after,.action.edit:hover:after,.action.user:after,.action.user:hover:after,.action.view:after,.action.view:hover:after,.success:before,.error:before,.help-icon,.form-field input[type=checkbox]+label:before,.form-field input[type=checkbox]:checked+label:before,.sneaky-select:after,.file-field .delete,.file-field .delete:hover,#get-help:before,.toggle-menu .btn:after,#account-option-messages:before,#account-option-messages:hover:before,#account-option-account:before,#account-option-account:hover:before,#account-option-dashboard:before,#account-option-dashboard:hover:before,#account-option-widgets:before,#account-option-widgets:hover:before,#account-option-logout:before,#account-option-logout:hover:before,#account-option-help-chat:before,#account-option-help-chat:hover:before,.modal .modal-display-area h2:before,.modal .modal-display-area.create h2:before,.modal .modal-display-area.copy h2:before,.modal .modal-display-area.embed h2:before,.modal .modal-display-area.success h2:before,.modal .modal-display-area.stop h2:before,#confirmation-prompt .warning h2:before,#confirmation-prompt .regenerate h2:before,.notification-bar .notification.error:before,.notification-bar .notification.warning:before,.notification-bar .notification.message:before,#dashboard-selection-list #add-new-dashboard span:before,#selected-dashboard-title:after,#add-widget:before,#dashboard-settings span,#dash-settings-general:before,#dash-settings-general:hover:before,#dash-settings-display:before,#dash-settings-display:hover:before,#dash-settings-accounts:before,#dash-settings-accounts:hover:before,#dash-settings-users:before,#dash-settings-users:hover:before,#dash-settings-templates:before,#dash-settings-templates:hover:before,#dash-settings-delete:before,#dash-settings-delete:hover:before,#dash-settings-copy:before,#dash-settings-copy:hover:before,#toggle-header,#toggle-header.active,#sharing-url-menu span.sharing,#sharing-url-menu .control .sharing-action.sharing-lock,#sharing-url-menu .control .sharing-action.sharing-lock.unlocked,#sharing-url-menu .control .sharing-action.sharing-regenerate,.led.success,.led.loading,.led.error,.widget-actions .edit,.widget-actions .copy,.widget-actions .embed,.widget-actions .delete,.arrow-down:before,.positive.arrow-down:before,.arrow-up:before,.negative.arrow-up:before,.arrow-level:before,.arrow-down-medium:before,.positive.arrow-down-medium:before,.arrow-up-medium:before,.negative.arrow-up-medium:before,.arrow-level-medium:before,.arrow-down-large:before,.positive.arrow-down-large:before,.arrow-up-large:before,.negative.arrow-up-large:before,.arrow-level-large:before,.arrow-down-extra-large:before,.positive.arrow-down-extra-large:before,.arrow-up-extra-large:before,.negative.arrow-up-extra-large:before,.arrow-level-extra-large:before,.geckometer-widget .widget-canvas .scale,.geckometer-widget .widget-canvas .scale-big,.text-widget .widget-canvas .slide-ribbon.warning,.text-widget .widget-canvas .slide-ribbon.info,.config-screen-admin-bar h2:before,.config-screen-admin-bar .cancel-btn:before,.config-screen-admin-bar .cancel-btn:hover:before,#dashboard-config .modal-display-area h2:before,#dashboard-config .file-field>label:after,#dashboard-config .file-field:hover>label:after,.signup-checklist-splash-screen .close,.signup-checklist-splash-screen .checklist-options .step .inner:before,.signup-checklist-splash-screen .checklist-options .step.complete .inner:before,#configure-widget .form-field input[type=text]:after,#configure-widget .form-field input[type=password]:after,#configure-widget .form-field .sneaky-select:after,#configure-widget-secondary .form-field input[type=text]:after,#configure-widget-secondary .form-field input[type=password]:after,#configure-widget-secondary .form-field .sneaky-select:after,.widget-type-preview header a:before,.widget-type-preview header a:visited:before,#search-services .field-wrapper:before,#services .filter .selected a:after,.signup-checklist>.btn span,.signup-checklist .checklist .task:after,.signup-checklist .checklist .task.complete:after {
    background: url(https://d28q98t4icjy0h.cloudfront.net/assets/icons-s52dadd335a-6062c1d17694c199926b7c7945696d98.png) no-repeat;
}

body {
    font: 400 0.95em/1 "Proxima Nova",Helvetica,sans-serif;
}

a {
    text-decoration: none;
    color: #86b423;
}

a:visited {
    color: #66891b;
}

a:hover {
    color: #4c4c4c;
}

a:active {
    color: #4c4c4c;
}

h1 {
    font-size: 1.5em;
    margin: 0 0 .4em;
}

h2 {
    font-size: 1.375em;
    margin: 0 0 1em;
    font-weight: 300;
}

p {
    line-height: 1.8;
    margin: 0 0 1em;
    font-weight: 300;
}

strong,b {
    font-weight: 700;
}

em {
    font-style: italic;
}

sup,sub {
    font-size: 60%;
    vertical-align: baseline;
    position: relative;
    height: 0;
    line-height: 1;
}

sup {
    bottom: 0.5ex;
}

sub {
    top: 0.5ex;
}

.btn {
    f